* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif"
}

header {
  background: #005eaa;
  color: white;
  padding:20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

h1 {
  margin: 0;

}

h2 {
  text-align: center;
  color: #666;
  font-weight: bold;
  font-size: 27px;
}


footer {
  background: #005eaa;
  position: absolute;
  color: white;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

a {
  color: white;
  text-decoration: none;

}

ul {
  list-style-type: none;
  text-align: center;
}

div.canvas-container {
  width: 50%;
}

div#container {
  width: 100%;
  margin: auto;
  max-width: 1200px;

}


main#usa-container {
  width: 90%;
  display: block;
  margin: 0 auto;
}

div#state-container {
  display: flex;
  margin: auto;
  width: 90%;
  margin-bottom: 150px;
}

div#select-state {
  display: flex;
  justify-content: space-around;
  padding: 30px;

}
